<div class="flex justify-center items-center min-h-screen bg-gray-900">
  <div class="bg-gray-800 p-8 rounded-xl shadow-lg w-96 border border-gray-700">
    
    <h2 class="text-2xl font-bold text-center text-green-400 mb-6 uppercase">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-5">
      
      <!-- Campo Correo -->
      <div>
        <label class="block text-gray-300 text-sm font-semibold mb-1">Correo Electrónico</label>
        <input formControlName="email" type="email" placeholder="correo@example.com" required
          class="w-full p-3 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-green-500">
      </div>
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-red-400 text-sm mt-1">
  <div *ngIf="loginForm.get('email')?.hasError('required')">El correo es obligatorio</div>
  <div *ngIf="loginForm.get('email')?.hasError('email')">Ingresa un correo válido</div>
</div>
      <div>
        <label class="block text-gray-300 text-sm font-semibold mb-1">Contraseña</label>
        <input formControlName="password" type="password" placeholder="********" required
          class="w-full p-3 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-green-500">
      </div>
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-400 text-sm mt-1">
  <div *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria</div>
  <div *ngIf="loginForm.get('password')?.hasError('minlength')">Debe tener al menos 6 caracteres</div>
</div>
      <!-- Botón Login -->
      <button type="submit"
       [disabled]="loginForm.invalid"
        class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-3 rounded-lg shadow-md transition-all disabled:opacity-50 disabled:cursor-not-allowed">
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>
